<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
    <div class="item active">
     <a href="#">
      <img src="https://emix.com.br/wp-content/uploads/2016/05/equipe-chave-sucesso-1200x565.jpg?5c7420" alt="First slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
     <a href="#">
      <img src="http://www.shawu.edu/uploadedImages/Graphics/Template/scimath2.jpg" alt="Second slide">
      <div class="carousel-caption"></div>
     </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="http://saratogamed.com/wp-content/uploads/2015/11/Dollarphotoclub_65641410_2.jpg" alt="Third slide">
        <div class="carousel-caption"></div>
      </a>
    </div>
  </div>

 <a class="carousel-control left" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
 </a>
 <a class="carousel-control right" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
 </a>
</div>
<ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="">
      <a data-toggle="tab" href="#category-0">内科医生</a>
    </li>
    <li class="active">
      <a data-toggle="tab" href="#category-1">外科医生</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-3">口腔科医生</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-4">康复科医生</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-5">物理治疗师</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">作业治疗师</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">言语治疗师</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">院长</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">学科带头人</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">检验</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">护理</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">眼科</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">妇科</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">儿科</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">保健</a>
    </li>
    <li class="">
      <a data-toggle="tab" href="#category-7">预防</a>
    </li>
  </ul>
<table class="table table-boldered table-striped custab" >

    <thead>
        <tr>
            <td>
                职缺
            </td>

            <td>
              收到履历数量
            </td>
            <td>
                薪资下限
            </td>
            <td>
                薪资上限
            </td>
            <td>
                管理选项
            </td>
            <td>
                刊登时间
            </td>
        </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr>

        <td>
            <%= render_job_status(job) %>

            <%= link_to(job.title, admin_job_path(job)) %>
        </td>

        <td> <%= job.resumes.count %> </td>
        <td> <%= job.wage_lower_bound %> </td>
        <td> <%= job.wage_upper_bound %> </td>
        <td>

    <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
    <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
     <% if job.is_hidden %>
     <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
     <% else %>
     <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
     <% end %>
        </td>
        <td>
            <%= job.created_at %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>

    </tr>
    <% end %>
</table>
